* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.header-part {
  display: flex;
  background-color: rgba(229, 84, 115, 0.1);
  justify-content: space-around;
  padding-top: 100px;
}

.header-description h1 {
  display: flex;
  width: 450px;
  flex-direction: column;
  color: #272727;

  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-description p {
  display: flex;
  width: 634px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 20px;
}

.header-description button {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  margin-top: 20px;
  color: aliceblue;
}

.header-img img {
  width: 435px;
  height: 600px;
  margin-top: -85px;
}

/* featured part start */

.featured-part {
  margin-top: 40px;
}
.featured-part h1 {
  color: #272727;
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.featured-part p {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}

.feature {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.features1 {
  width: 304px;
  height: 408px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  background-image: url();
}
.features1 img {
  width: 200px;
  height: 358px;
  margin-top: 50px;
  margin-left: 45px;
}
.features1 h4 {
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}
.features2 {
  width: 304px;
  height: 408px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.features2 img {
  width: 200px;
  height: 358px;
  margin-top: 50px;
  margin-left: 45px;
}
.features2 h4 {
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}
.features3 {
  width: 304px;
  height: 408px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.features3 img {
  width: 200px;
  height: 358px;
  margin-top: 50px;
  margin-left: 45px;
}
.features3 h4 {
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}

.services {
  width: 1085px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 130px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.service {
  margin-left: 60px;
}

.service h6 {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;

  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

.service img {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* deal part start */

.deal-part {
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  justify-content: space-around;
  padding: 80px;
  
}

.deal-offer h1{
    color: #272727;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 110px;


}
.deal-offer p{
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.btn{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border: none;
display: block;
margin-left: auto;
margin-right: auto;
color: aliceblue;
margin-top: 20px;
}

.deal-img{
width: 258px;
height: 420px;
flex-shrink: 0;
margin-right: 40px;
}



/* social-part */

.social-parts{
    text-align: center;
    margin-top: 30px;
   
  

}
.social-parts h1{
color: #272727;
text-align: center;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
   
  

}

.social-parts p{
    display: flex;

flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
margin-top: 10px;

}


.social-part{
    display: flex;
    padding: 60px;
}
.social img{
    width: 242px;
height: 296px;
margin-left: 50px;

}


/* latest part */
.leatest-part{
    

    background-image: url(./Rectangle\ 9.png);
    background-repeat: no-repeat; 
   background-size: 1200px;
    margin: 120px;
   
   
    
}


.latest h1{
    
    color: #272727;
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}
.latest p{  
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    
 
}
.input-part{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.input{
    width: 500px;
height: 34px;
margin-top: 10px;
border: 2px solid #E55473;

border-radius: 5px;
background: #FFF;
}
.latest{
    padding: 120px;
}


.btn2{
    width: 110px;
height: 44px;
flex-shrink: 0;
border-radius: 5px;
background: #E55473;
border: none;
margin-left: 5px;
margin-top: 8px;
color: aliceblue;
}





.footer{
    background-color:  #111010;
    padding: 60px;
    
}
.footer h1{
    color: #E55473;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;

}
.footer h6{
    display: flex;

flex-direction: column;
flex-shrink: 0;
color: rgba(255, 255, 255, 0.90);
text-align: center;

font-size: 15px;
font-style: normal;
font-weight: 400;
margin-top: 10px;


}
.footer p{
    color: rgba(255, 255, 255, 0.40);
text-align: center;

font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;

}

.shop{
    color: aliceblue;
}

.off{
    color: #E55473;
}


.shops{
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    padding: 80px;
    justify-content: space-between;
    margin-top: 50px;
   
}
.shop-img {
    margin-top: 50px;
 
}
.shop-img img{
    width: 550px;
    border-radius: 0px 300px 300px 0px;
  
}

.contacts{

    margin-top: 50px;

}

.contacts h1{
    display: flex;

flex-direction: column;

color: #272727;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.contacts p{

   display: flex;

flex-direction: column;
flex-shrink: 0;
color: #272727;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contact1{
    display: flex;
    margin-top: 70px;

}
.contact2{
    display: flex;
    margin-top: 60px;
}

.call{
    margin-left: 150px;
    
}
.call span{
    flex-direction: column;
flex-shrink: 0;
color: #272727;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
    
}
.call span i{
 margin-right: 10px;
    
}
.btn4{
    
    padding: 20px 43px;
   
    
    border-radius: 8px;
    background: #E55473;
    border: none;
    font-weight: bold;
   
    color: aliceblue;
    margin-left: 40px;
    
}
.arrow{
    margin-left: 10px;
    
 
}
.icons{
    color: #E55473;
}